body{
    background-color: antiquewhite;
}

@media only screen and (max-width: 700) {
    img{
        width: 100%;
    }
}

@media only screen and (min-width: 500px) and (max-width: 700px){
    p{
        color: purple;
    }
} 



/* 
kad je od 500 do 700 onda je paragraf ljubiÄast i slika je 100%
i kad je do 700 slika je 100% */